.back {
  position: absolute;
  right: 8%;
  top: -70px;
}

.single-page {
  position: absolute;
}

.main-content p {
  margin: 10px 0 20px 0;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
}
.leftpara {
  align-self: flex-start;
}
.rightpara {
  display: inline-block;
}

.main-content .para p {
  margin-right: 10px;
}

.main-content {
  font-size: 20px;
}

.main-content .description-wrapper {
  width: 80vw;
  display: flex;
  padding: 0 20px;
  gap: 5vw;
}

.content-flex {
  font-size: 30px;
  position: relative;
}

.main-content img {
  margin-top: 40px;
  height: 500px;
  width: 800px;
}

.side-content .box {
  background-color: #31b675;
  padding: 30px;
  color: white;
  margin-top: 40px;
  height: 60%;
  width: 50%;
  margin-left: 30%;
}

.side-content .box h2 {
  font-size: 30px;
  font-weight: 500;
}
.leftpara p {
  text-align: justify;
}
.rightpara p {
  text-align: justify;
}

article .box2 {
  margin-top: 40px;
  background: url("../../public/images/side-bg-3.jpg");
  background-size: cover;
  height: 150px;
  width: 50%;
  padding: 20px;
  margin-left: 30%;
}

.side-content .box2::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 180px;
  width: 100%;
}

article p {
  font-size: 14px;
  line-height: 25px;
}

article .box2 p {
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 25px;
  color: white;
}

@media screen and (max-width: 768px) {
  .single-page .flex {
    flex-direction: column;
  }
}
