.data-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.testimonialCard {
  height: 100%;
  width: 43%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.testimonialCard > .image-data {
  display: flex;
  gap: 20px;
}
.testimonialCard > #test {
  background-color: #000;
  height: 2px;
  opacity: 0.2;
}

.testimonialCard > .image-data > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.testimonialCard > .image-data > .text-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonialCard > .image-data > .text-data > h2 {
  font-weight: 500;
  letter-spacing: 1px;
}

.testimonialCard > .image-data > .text-data > .designation {
  font-size: 13px;
  font-weight: 400;
}

.quote-icon {
  font-size: 170px;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 20%;
  right: -2%;
  z-index: -1;
}

.testimonialCard > .description-data {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .data-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
